<%= link_to "Log in", login_path %>
    <% if logged_in? %>
        <li><%= button_to "Sign out", logout_path, method: :delete %></li>
        <% else %>
    <li><%= link_to "Log in", login_path %></li>
    <% end %>



