<h1>List of all books </h1>







<div class="flickr_pagination">
  <%= will_paginate @books, :container => false %>
</div>


<ul>
    <% @books.each do |book|%>
    <li><%= book.title %></li>
    <% end %>

</ul>


<div class="flickr_pagination mb-4">
  <%= will_paginate @books, :container => false %>
</div> 